body {
	background-color: #ddd;
	margin-left: 2in;
	margin-right: 2in;
}

h1#page-title {
	background-color: #eee;
	padding: 0.5em 40px 0.5em 40px;
}

#body-content {
	background-color: white;
	padding: 20px 40px 20px 40px;
	border: black 1px dotted;
}

h3.table-header {
	padding-left: 4px;
}

a {
	color: navy;
	text-decoration: none;
	font-style: oblique;
}

table.messages-list, table.message-detail {
	width: 100%;
}

table.messages-list tr td, table.message-detail tr td {
	border: #ddd 1px dotted;
	padding: 3px;
}

table.messages-list tr.delivered {
	background-color: #dfd;
}

table.messages-list tr.error {
	background-color: #fce;
}

table.messages-list tr.expired {
	background-color: #fbd;
}

table.messages-list tr.transit {
	background-color: #ffd;
}

table.messages-list tr.unknown {
	background-color: #eec;
}

table.message-detail tr td.label {
	font-weight: bold;
	width: 150px;
}
