h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

a {
	color: navy;
	text-decoration: none;
}

td, th {
	padding: 2px;
}

th:last-child, td:last-child {
    text-align: right;
}

table.messages-list tr.acked {
	background-color: #afa;
}

table.messages-list tr.delivered {
	background-color: #dfd;
}

table.messages-list tr.error {
	background-color: #fce;
}

table.messages-list tr.expired {
	background-color: #fbd;
}

table.messages-list tr.transit {
	background-color: #fdf;
}

table.messages-list tr.unknown {
	background-color: #eec;
}

table.messages-list tr.ignored {
    color: gray;
}
table.messages-list tr.ignored a {
    color: lightblue;
}

table.message-detail tr td.label {
	font-weight: bold;
}
