{% extends "_base.html" %}

{% block contentsub %}
{# just to kill it from rendering in _base.html #}
{% endblock %}

{% block contentfull %}
<h3>On-call groups</h3>
<table class="u-full-width">
<thead>
    <tr>
        <th>Group</th>
        <th>On-call Contact</th>
        <th>SMS Number</th>
    </tr>
</thead>
<tbody>
{% for group in groups %}
<tr>
<td><a href="{% url 'views_group' group_id=group.id %}">{{ group }}</a></td>
<td><a href="{% url 'views_group' group_id=group.id %}">{{ group.contact_primary.name }}</a></td>
<td>{{ group.contact_primary.sms_number }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p>Click the group name to change the On-Call contact and view group details.</p>
{% endblock %}
