{% extends "_base.html" %}

{% block contentsub %}
{# just to kill it from rendering in _base.html #}
{% endblock %}

{% block contentfull %}
<h2>Messages in the queue</h2>
<table class="messages-list">
{% for message in messages %}
<tr class="{{ message.newest_status }}"><td>{{ message.recipient }}</td><td>{{ message }}</td><td>{{ message.dt_received }}</td><td>{{ message.newest_status }}</td></tr>
{% endfor %}
</table>
<h2>On-call groups</h2>
<dl class="oncall-list">
{% for group in groups %}
<dt>{{ group }}</dt>
<dd>{{ group.contact_primary.name }} <em>({{ group.contact_primary.sms_number }})</em></dd>
{% for recipient in group.recipient_set.all %}
<dd><a href="mailto:{{ recipient }}@{{ recipient.domain }}">{{ recipient }}</a></dd>
{% endfor %}
{% endfor %}
</dl>
{% endblock %}
