<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Thialfi : text messaging gateway</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/thialfi.css?{{ MEDIA_REV }}" />
{% block extrahead %}{% endblock %}
</head>

<body class="yui-skin-sam" id="body">
<h1 id="page-title">Thialfi the messenger</h1>
<div id="body-content">
{% block contentsub %}
{# Create empty "contentsub" on pages that use "contentfull" to remove it #}
<div id="mainrightsub">
<h1>{% block page_title %}{% endblock %}</h1>
{% block content %}{% endblock %}
</div>
{% endblock %}
{% block contentfull %}{% endblock %}
</div>
</body>
</html>
