<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Thialfi : text messaging gateway</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/static/favicon.ico" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="/static/css/normalize.css?{{ MEDIA_REV }}" />
<link rel="stylesheet" type="text/css" href="/static/css/skeleton.css?{{ MEDIA_REV }}" />
<link rel="stylesheet" type="text/css" href="/static/css/thialfi.css?{{ MEDIA_REV }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/navbar.js"></script>
{% block extrahead %}{% endblock %}
</head>

<body id="body">
<div class="container">
    <section class="header">
        <h1 id="page-title"><a href="{% url app.views.index %}">Thialfi the On-Call messenger</a></h1>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">Groups &amp; Messages</a></li>
<!--
                <li class="navbar-item"><a class="navbar-link" href="/messages/">Messages</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/recipients/">Recipients</a></li>
-->
                <li class="navbar-item"><a class="navbar-link" href="/admin/">Admin</a></li>
            </ul>
        </div>
    </nav>
    </div>
</div>
<div id="body-content" class="container body-content">
{% block contentsub %}
{# Create empty "contentsub" on pages that use "contentfull" to remove it #}
<div id="mainrightsub" class="container">
<h2>{% block page_title %}{% endblock %}</h2>
{% block content %}{% endblock %}
</div>
{% endblock %}
{% block contentfull %}{% endblock %}
</div>
</body>
</html>
